In [1]:
# !unzip all_data.csv.zip

In [2]:
import numpy as np
import pandas as pd
import random
from tqdm import tqdm

In [3]:
df = pd.read_csv('all_data.csv')
df.shape

(1999516, 46)

In [4]:
rejected = [
    'severe_toxicity',
    'wow',
    'identity_annotator_count',
    'toxicity_annotator_count',
    'likes',
    'other_gender',
    'other_sexual_orientation',
    'other_race_or_ethnicity',
    'other_religion',
    'other_disability',
    'split',
    'id',
    'rating',
    'article_id',
    'white',
    'created_date',
    'black',
    'sad',
    'funny',
    'disagree',
    'publication_id',
    'parent_id'
]

In [5]:
df = df[set(df.columns.tolist()) - set(rejected)]
df.head()

,female,sexual_explicit,transgender,identity_attack,toxicity,threat,jewish,asian,latino,intellectual_or_learning_disability,...,comment_text,physical_disability,insult,bisexual,muslim,obscene,hindu,psychiatric_or_mental_illness,heterosexual,male
0,NaN,0.014925,NaN,0.000000,0.373134,0.014925,NaN,NaN,NaN,NaN,...,He got his money... now he lies in wait till a...,NaN,0.343284,NaN,NaN,0.089552,NaN,NaN,NaN,NaN
1,NaN,0.013158,NaN,0.092105,0.605263,0.065789,NaN,NaN,NaN,NaN,...,Mad dog will surely put the liberals in mental...,NaN,0.565789,NaN,NaN,0.065789,NaN,NaN,NaN,NaN
2,NaN,0.000000,NaN,0.047619,0.666667,0.000000,NaN,NaN,NaN,NaN,...,And Trump continues his lifelong cowardice by ...,NaN,0.666667,NaN,NaN,0.031746,NaN,NaN,NaN,NaN
3,NaN,0.592105,NaN,0.000000,0.815789,0.105263,NaN,NaN,NaN,NaN,...,"""while arresting a man for resisting arrest"".\...",NaN,0.684211,NaN,NaN,0.552632,NaN,NaN,NaN,NaN
4,NaN,0.275000,NaN,0.037500,0.550000,0.000000,NaN,NaN,NaN,NaN,...,Tucker and Paul are both total bad ass mofo's.,NaN,0.487500,NaN,NaN,0.337500,NaN,NaN,NaN,NaN

In [6]:
df.columns

Index(['female', 'sexual_explicit', 'transgender', 'identity_attack',
       'toxicity', 'threat', 'jewish', 'asian', 'latino',
       'intellectual_or_learning_disability', 'christian', 'atheist',
       'homosexual_gay_or_lesbian', 'buddhist', 'comment_text',
       'physical_disability', 'insult', 'bisexual', 'muslim', 'obscene',
       'hindu', 'psychiatric_or_mental_illness', 'heterosexual', 'male'],
      dtype='object')

In [7]:
selected_columns = set(df.iloc[0].index) - {'comment_text'}

In [15]:
X1, X2, Y = [], [], []
for i in tqdm(range(len(df))):
    row = df.iloc[i]
    pos = list(row[selected_columns][row[selected_columns] > 0.7].index)
    for p in pos:
        p = p.replace('_', ' ')
        X1.append(row['comment_text'])
        X2.append(f'teks ini berkaitan {p}')
        Y.append(1)
    
len(X1), len(X2), len(Y)

In [9]:
from sklearn.model_selection import train_test_split

_, X1, _, X2, _, Y = train_test_split(X1, X2, Y, test_size = 50000)

In [10]:
import json

with open('positive-toxicity.json', 'w') as fopen:
    json.dump({
        'X1': X1,
        'X2': X2,
        'Y': Y
    }, fopen)

In [14]:
X1, X2, Y = [], [], []
for i in tqdm(range(len(df))):
    row = df.iloc[i]
    
    if random.random() > 0.1:
        continue
    
    neg = list(row[selected_columns][row[selected_columns] < 0.05].index)
    for p in neg:
        p = p.replace('_', ' ')
        X1.append(row['comment_text'])
        X2.append(f'teks ini berkaitan {p}')
        Y.append(0)

In [12]:
_, X1, _, X2, _, Y = train_test_split(X1, X2, Y, test_size = 50000)
len(X1)

50000

In [13]:
import json

with open('negative-toxicity.json', 'w') as fopen:
    json.dump({
        'X1': X1,
        'X2': X2,
        'Y': Y
    }, fopen)